.container{
  padding-top:60px;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.Input{
  border:1px solid #757575;
  border-radius:8px;
  height:30px;
}
.join{
  margin-left:6px;
  border:0px;
  border-radius:8px;
  height:32px;
  font-weight:bold;
}
.list{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
.Delete{
  border:0px;
  background-color:white;
  color:red;
  font-size:14px;
}